{
  "development": {
    "PORT": 3000,
    "PROTOCOL": "http",
    "DOMAIN": "localhost",
    "DB_DOMAIN": "localhost",
    "DATABASE_NAME": "ciklum_db",
    "IP_WHITE_LIST": [

    ]
  },
  "production": {
    "PORT": 8080,
    "PROTOCOL": "http",
    "DOMAIN": "localhost",
    "DB_DOMAIN": "localhost",
    "DATABASE_NAME": "ciklum_db",
    "IP_WHITE_LIST": [

		]
  }
}
